body,
html {
	overflow-x: hidden;
}

.card-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
	margin-bottom: 3%;
	@media all and (max-width: 1400px) {
		margin-top: 10%;
		margin-bottom: 6%;
	}
	@media all and (max-height: 800px) {
		margin-top: 50px;
		margin-bottom: 10px;
	}
}

.button-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.answer-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
}

.answer-section {
	justify-content: space-between;
	align-items: center;
	width: 60%;
	& > .button {
		height: min-content;
	}
	@media all and (max-width: 1100px) {
		width: 90%;
	}
}

.answer-description {
	font-size: calc(15px + 2vmin);
	font-weight: 600;
}

.game-button {
	margin: 2% 10%;
}

.game-card {
	width: 80vw;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	@media all and (max-height: 800px) {
		height: 70vh;
		& > div > img {
			width: 60vw;
			max-width: 1000px;
		}
	}
	@media all and (max-width: 1100px) {
		height: 60vh;
		& > div {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		& > div > img {
			width: 60%;
			min-width: 500px;
		}
	}
}

.tips-container {
	width: 60%;
	padding-bottom: 40px;
	& > h1 {
		font-size: calc(10px + 2vmin);
	}
	@media all and (max-width: 1100px) {
		width: 90%;
	}
}

.tip-text {
	& > p > a {
		color: white;
	}
}
