.card-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
	margin-bottom: 3%;
}

.button-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.answer-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.answer-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	& > .button {
		height: min-content;
	}
}

.answer-description {
	font-size: calc(15px + 2vmin);
	font-weight: 600;
}

.game-button {
	margin: 2% 10%;
}

.game-card {
	width: 80vw;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
