@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

$color-dark: #2b2d42;
$color-slate: #66758f;
$color-light: #edf2f4;
$color-red: #ef233c;
$color-green: #7bc559;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #2b2d42;
}

.accent-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	&.bg-green {
		background: $color-green;
	}
	&.bg-red {
		background: $color-red;
	}
	&.bg-both {
		background: linear-gradient(90deg, $color-red 50%, $color-green 50%);
	}
}

.App {
	background-color: #2b2d42;
	color: #edf2f4;
	font-family: "Work Sans", sans-serif;
}

.button {
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
	white-space: nowrap;
	border-radius: 15px;
	padding: 10px 15px;
	font-weight: 600;
	text-decoration: none;
	min-width: 80px;
	font-size: 24px;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
	transition: 0.2s;
	border: none;
	user-select: none;
	&:hover {
		cursor: pointer;
		transform: scale(1.05);
	}
}

.button-light {
	background: white;
	color: $color-dark;
}

.button-dark {
	background: $color-slate;
	color: $color-light;
}

.button-red {
	background: $color-red;
	color: $color-light;
}

.button-large {
	width: 100px;
	font-size: 32px;
	padding: 10px 30px;
}

.button-green {
	background: $color-green;
	color: $color-light;
}

.subheading {
	margin-top: 2%;
	margin-bottom: 5%;
	font-size: calc(10px + 2vmin);
	font-weight: 500;
}

.card {
	background: transparentize($color: $color-slate, $amount: 0.5);
	border-radius: 15px;
	display: flex;
	width: 100%;
	height: 100%;
}
